@model IEnumerable<AmazonProducts.Domain.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
    <li><a href="#">Regular link</a></li>
    <li class="disabled"><a href="#">Disabled link</a></li>
    <li><a href="#">Another link</a></li>
</ul>
<table class="table">

    <div></div>


@foreach (var item in Model) {
    <div class="row">
          <div class="col-sm-4">
              <img src=@Html.DisplayFor(modelItem => item.Image) />
          </div>
        <div class="col-sm-8">
            <p class="page-header">
                @Html.DisplayFor(modelItem => item.Name)
                <small>@Html.DisplayFor(modelItem => item.Category.CategoryName)</small>
            </p>
            <br />
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <br />
            <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.Id })
</button>
            <button class="btn btn-default">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
        </button>
            <button class="btn btn-default">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </button>
        </div>
    </div>
    <br />

}

</table>
